<form [formGroup]="searchForm" class="form">
  <mat-form-field class="full-width">
    <input
      matInput
      type="text"
      placeholder="LEAVING FROM"
      formControlName="leaving"
      required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input
      matInput
      type="text"
      placeholder="ARRIVAL AT"
      formControlName="arrival"
      required>
  </mat-form-field>
  <button
    mat-button
    type="button"
    (click)="search()"
    [disabled]="!searchForm.valid"
    >Search</button>
</form>