<google-map
  height="250px"
  width="100%"
  [center]="center"
  [zoom]="zoom">
  <map-marker #marker
    *ngFor="let selected of selectedList"
    [position]="selected.geometry?.location"
    [options]="markerOptions"
    (mapClick)="openInfoWindow(marker)"></map-marker>
  <map-info-window>Info Window content</map-info-window>
</google-map>

<ion-content>
  <mat-selection-list
    [(ngModel)]="selectedList">
    <mat-list-option
      *ngFor="let suggest of suggestList"
      [value]="suggest">
      {{ suggest.name }}
    </mat-list-option>
  </mat-selection-list>
</ion-content>
