<google-map height="250px" width="100%" [center]="center" [zoom]="zoom">
  <map-marker
    #marker
    *ngFor="let selected of selectedList"
    [position]="selected.location"
    [options]="markerOptions"
    (mapClick)="openInfoWindow(marker)"
  ></map-marker>
  <map-info-window>Info Window content</map-info-window>
</google-map>
<mat-slider
  [min]="min"
  [max]="max"
  [thumbLabel]="thumbLabel"
  [(ngModel)]="radius"
>
</mat-slider>
<ion-content>
  <app-suggest-list
    (middlePointPlaceSearch)="search($event)">
  </app-suggest-list>
</ion-content>
