<ion-content>
  <!-- TODO: ログインしている時と、していない時で表示内容変更する -->
  <h2>登録またはログイン</h2>
  <div>
    <button mat-button>
      <ion-icon name="logo-facebook"></ion-icon>
      FACEBOOKでログイン
    </button>
  </div>
  <div>
    <button
    mat-button
    type="button"
    (click)="googleSignIn()"
    aria-label="googleSignIn">
      <ion-icon name="logo-google"></ion-icon>
      GOOGLEでログイン
    </button>
  </div>
  <div>
    <button mat-button>
      メールでサインアップする
    </button>
  </div>
  <div>
    すでにアカウントをお持ちですか？
    <button mat-button>
      ログイン
    </button>
  </div>
</ion-content>