<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="point" aria-label="point" class="tab-button">
      <mat-icon>room</mat-icon>
      <ion-label>Point</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="route" aria-label="route" class="tab-button">
      <mat-icon>directions</mat-icon>
      <ion-label>Route</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registered" aria-label="registered" class="tab-button">
      <mat-icon>list</mat-icon>
      <ion-label>Registered</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
