<ion-content>
  <form [formGroup]="searchForm" class="form">
    <mat-form-field class="full-width">
      <input
        matInput
        #destination
        type="text"
        placeholder="ARRIVAL AT"
        formControlName="destination"
        required
      />
    </mat-form-field>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile *ngFor="let category of categories">
        <button
          mat-mini-fab
          color="category"
          type="button"
          (click)="search(category)"
          [disabled]="!searchForm.valid"
          [matTooltip]="category.value"
          aria-label="categorySearch"
        >
          <mat-icon>{{ category.icon }}</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</ion-content>
