<ion-header>
  <ion-toolbar>
    <ion-title>
      <button mat-button routerLink="/" aria-label="top">
        Tripig
      </button>
      <button *ngIf="auth.loggedIn" mat-button (click)="signOut()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </ion-title>
    <ion-buttons *ngIf="showResultRoute" slot="end">
      <ion-button (click)="guide()" aria-label="guide">
        <ion-icon name="rocket"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
