<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      <button mat-button routerLink="/" aria-label="top">
        Tripig
      </button>
      <button class="userMenu" *ngIf="auth.loggedIn; else guest" mat-button [matMenuTriggerFor]="userMenu">
        <img class="avatar" [src]="auth.photoUrl">
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>Anything</button>
        <button mat-menu-item (click)="signOut()">
          ログアウト
        </button>
      </mat-menu>
      <ng-template #guest>
        <button class="userMenu" mat-button [matMenuTriggerFor]="guestMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #guestMenu="matMenu">
          <button mat-menu-item routerLink="/tabs/pages/signIn">
            ログイン
          </button>
        </mat-menu>
      </ng-template>
    </ion-title>
    <ion-buttons *ngIf="showResultRoute" slot="end">
      <ion-button (click)="guide()" aria-label="guide">
        <ion-icon name="rocket"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
