<form [formGroup]="editProjectForm" class="form">
  <mat-form-field class="full-width">
    <input matInput #title type="text" placeholder="title" formControlName="title" required />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput #destination type="text" placeholder="destination" formControlName="destination" required />
    <button matSuffix mat-button type="button" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput #detail type="text" placeholder="detail" formControlName="detail" required></textarea>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput #members type="text" placeholder="members" formControlName="members" required />
  </mat-form-field>
  <button mat-button type="button" (click)="save()" [disabled]="editProjectForm.invalid" aria-label="save">
    <mat-icon>save</mat-icon>
    Save
  </button>
</form>
