<ion-content>
  <form class="form">
    <h2>Sign Up / Sign In</h2>
    <mat-divider></mat-divider>
    <!-- <button
      class="sign-in-box"
      mat-raised-button
      type="button"
      (click)="facebookSignIn()"
      aria-label="facebookSignIn">
      <mat-icon svgIcon="logo-facebook"></mat-icon>
      FACEBOOK Sign In
    </button> -->
    <button
      class="sign-in-box"
      mat-raised-button
      type="button"
      (click)="googleSignIn()"
      aria-label="googleSignIn" >
      <mat-icon svgIcon="logo-google"></mat-icon>
      GOOGLE sign in
    </button>
    <button
      class="sign-in-box"
      mat-raised-button
      aria-label="mailSignIn"
      (click)="toSignUpPage()">
      <mat-icon>person_add</mat-icon>
      Sign Up by email
    </button>
    <div>
      Do you already have an account?
      <button
        mat-raised-button
        aria-label="signIn">
        Sign In
      </button>
    </div>
  </form>
</ion-content>
