<ion-content>
  <h2>Sign Up / Sign In</h2>
  <!-- <div>
    <button
      mat-button
      type="button"
      (click)="facebookSignIn()"
      aria-label="facebookSignIn">
      <ion-icon name="logo-facebook"></ion-icon>
      FACEBOOK Sign In
    </button>
  </div> -->
  <div>
    <button
      mat-button
      type="button"
      (click)="googleSignIn()"
      aria-label="googleSignIn"
    >
      <ion-icon name="logo-google"></ion-icon>
      GOOGLE sign in
    </button>
  </div>
  <div>
    <button
      mat-button
      aria-label="mailSignIn"
      (click)="toSignUpPage()">
      Sign Up
    </button>
  </div>
  <div>
    Do you already have an account?
    <button
      mat-button
      aria-label="signIn">
      Sign In
    </button>
  </div>
</ion-content>
