<ion-content>
  <mat-selection-list
    #suggests
    (selectionChange)="onSelectedChange(suggests.selectedOptions.selected)"
    class="list-item">
    <mat-list-option
      checkboxPosition="before"
      *ngFor="let suggest of suggestList"
      [value]="suggest"
      [selected]="suggest.selected">
      <span class="name" (click)="openPlaceDetailDialog($event, suggest)">
        {{ suggest.name }}
        <button mat-button (click)="onSearchLinkClick($event, suggest)">
          <mat-icon>search</mat-icon>
        </button>
        <app-rating-stars [rating]="suggest.rating"></app-rating-stars>
      </span>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
  <ion-fab
    cdkDrag
    *ngIf="showResultRoute"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="rocket">
    <ion-fab-button (click)="openRouteResultDialog()" aria-label="routeResult">
      <ion-icon name="rocket"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>