<ion-content>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let suggest of suggestList$ | async"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-checkbox
            [checked]="suggest.selected"
            (change)="onSelectionChange(suggest)"
            (click)="$event.stopPropagation()"
          >
          </mat-checkbox>
        </mat-panel-title>
        <mat-panel-description class="description">
          <div>
            {{ suggest.name }}
            <app-rating-stars [rating]="suggest.rating"></app-rating-stars>
          </div>
          <button mat-button (click)="onSearchLinkClick($event, suggest)">
            <mat-icon matSuffix>search</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let photo of suggest.photos">
        <img [src]="photo" />
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <ion-fab
    *ngIf="showResultRoute"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="rocket"
  >
    <ion-fab-button (click)="guide()" aria-label="guide">
      <ion-icon name="rocket"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
