<google-map height="250px" width="100%" [center]="center" [zoom]="zoom">
  <map-marker
    #marker
    *ngFor="let place of selectedCourse?.route"
    [position]="place.location"
    [options]="markerOptions"
    (mapClick)="openInfoWindow(marker, place)"
  ></map-marker>
  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>
<ion-content>
  <h2>{{selectedCourse?.name}}</h2>
  <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
    <div class="box" *ngFor="let result of selectedCourse?.route; index as i" cdkDrag>
      <div class="handle" cdkDragHandle>
        <mat-icon>drag_indicator</mat-icon>
      </div>
      <span class="name">
        {{ i }}.{{ result.name }}
      </span>
      <button
        mat-button
        aria-label="delete"
        (click)="delete(result)">
        <mat-icon matSuffix>delete</mat-icon>
      </button>
    </div>
  </div>
  <button
    mat-button
    [matMenuTriggerFor]="menu"
    aria-label="restoreMenu">
    <mat-icon>restore_from_trash</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngFor="let deletedPlace of deletedPlaces; index as i">
      <button
        mat-menu-item
        aria-label="restore"
        (click)="restore(deletedPlace)">
        <mat-icon>chevron_left</mat-icon>
        {{ i }}.{{ deletedPlace.name }}
      </button>
    </div>
  </mat-menu>
</ion-content>
